.budget-friendly {
  color: var(--color-tomato);
}
.plan-your-budget-container {
  position: absolute;
  top: 13.75rem;
  left: 27.44rem;
  font-size: 4rem;
  display: inline-block;
  text-align: center;
  width: 35.13rem;
  color: var(--black);
}
.created-by {
  position: absolute;
  top: 286.31rem;
  left: 70.38rem;
  font-size: 1.13rem;
  color: var(--color-black);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.plan-your-journey-child,
.plan-your-journey-inner,
.plan-your-journey-item {
  position: absolute;
  top: 58.13rem;
  left: 44.75rem;
  border-radius: 11.54px;
  width: 34rem;
  height: 19.25rem;
  object-fit: cover;
}
.plan-your-journey-inner,
.plan-your-journey-item {
  top: 77.63rem;
  width: 16.88rem;
  height: 11.06rem;
}
.plan-your-journey-inner {
  left: 61.88rem;
  width: 17.13rem;
}
.about-manali,
.top-places {
  position: absolute;
  top: 58.38rem;
  left: 11.25rem;
  font-size: var(--font-size-6xl);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.top-places {
  top: 76.88rem;
}
.eat,
.how-would-you,
.manali-essentials,
.nearby-cities,
.stay,
.things-to-do {
  position: absolute;
  top: 95.63rem;
  left: 37.5rem;
  font-size: var(--font-size-10xl);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.eat,
.how-would-you,
.nearby-cities,
.stay,
.things-to-do {
  top: 175.94rem;
  left: 35.44rem;
}
.eat,
.how-would-you,
.nearby-cities,
.stay {
  top: 199.94rem;
  left: 39.25rem;
}
.eat,
.how-would-you,
.stay {
  top: 102.56rem;
  left: 11.31rem;
  font-size: var(--font-size-2xl);
  font-weight: 500;
}
.eat,
.stay {
  top: 126.56rem;
}
.eat {
  top: 150.56rem;
}
.all,
.all1,
.all2 {
  position: absolute;
  top: 105.13rem;
  left: 12.06rem;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.all1,
.all2 {
  top: 129.06rem;
}
.all2 {
  top: 153.06rem;
}
.travel-over-manali-container {
  position: absolute;
  top: 51.06rem;
  left: 35.88rem;
  font-size: 2rem;
  font-weight: 800;
}
.in-hinduism-manu {
  position: absolute;
  top: 60.94rem;
  left: 11.25rem;
  font-size: var(--font-size-mini);
  letter-spacing: 0.03em;
  font-weight: 600;
  color: #828282;
  text-align: justify;
  display: inline-block;
  width: 29.56rem;
  height: 12.69rem;
}
.search {
  position: relative;
  font-weight: 500;
}
.search-wrapper {
  position: absolute;
  top: 38.5rem;
  left: 40.38rem;
  border-radius: 5.19px;
  background-color: rgba(42, 126, 251, 0.91);
  width: 9.31rem;
  height: 2.81rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 2.5rem;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.your-overall-budget {
  position: relative;
  font-weight: 300;
}
.b {
  position: relative;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-200);
}
.your-overall-budget-parent {
  position: absolute;
  top: 30.75rem;
  left: 59.88rem;
  border-radius: 5.19px;
  background-color: var(--color-lavenderblush);
  width: 16.5rem;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.56rem var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.69rem;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
}
.plan-your-journey-child1,
.plan-your-journey-child2,
.plan-your-journey-child3,
.plan-your-journey-child4,
.rectangle-div {
  position: absolute;
  top: 79.56rem;
  left: 11.25rem;
  border-radius: 5.19px;
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 7.25rem;
  height: 2.19rem;
}
.plan-your-journey-child1,
.plan-your-journey-child2,
.plan-your-journey-child3,
.plan-your-journey-child4 {
  left: 19.19rem;
  width: 8.44rem;
}
.plan-your-journey-child2,
.plan-your-journey-child3,
.plan-your-journey-child4 {
  left: 28.44rem;
  width: 8.63rem;
}
.plan-your-journey-child3,
.plan-your-journey-child4 {
  top: 82.38rem;
  left: 11.25rem;
  width: 7.38rem;
}
.plan-your-journey-child4 {
  left: 19.19rem;
  width: 8.88rem;
}
.plan-your-journey-child5,
.plan-your-journey-child6,
.plan-your-journey-child7 {
  position: absolute;
  top: 104.75rem;
  left: 11.31rem;
  border-radius: 6.36px;
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 9.81rem;
  height: 2rem;
}
.plan-your-journey-child6,
.plan-your-journey-child7 {
  top: 128.69rem;
}
.plan-your-journey-child7 {
  top: 152.69rem;
}
.hadimba-temple,
.jogini-waterfalls,
.manali-sanctuary,
.rohtang-pass,
.solong-valley {
  position: absolute;
  top: 80.13rem;
  left: 12.19rem;
  font-weight: 600;
  color: var(--color-darkgray-300);
}
.hadimba-temple,
.jogini-waterfalls,
.manali-sanctuary,
.rohtang-pass {
  left: 20.13rem;
}
.hadimba-temple,
.manali-sanctuary,
.rohtang-pass {
  left: 29.38rem;
}
.manali-sanctuary,
.rohtang-pass {
  top: 82.94rem;
  left: 12.19rem;
}
.manali-sanctuary {
  left: 20.13rem;
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 0.14%;
  width: 0.77%;
  top: 35.6%;
  right: 77.28%;
  bottom: 64.26%;
  left: 21.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2 {
  top: 43.67%;
  bottom: 56.19%;
}
.vector-icon2 {
  top: 51.76%;
  bottom: 48.1%;
}
.see-all,
.see-all1,
.see-all2 {
  position: absolute;
  top: 122.38rem;
  left: 71.69rem;
  font-size: 0.87rem;
  text-decoration: underline;
  color: var(--color-gray-300);
}
.see-all1,
.see-all2 {
  top: 146.38rem;
}
.see-all2 {
  top: 170.38rem;
}
.group-icon,
.plan-your-journey-child8,
.plan-your-journey-child9 {
  position: absolute;
  top: 111.25rem;
  left: 76.56rem;
  width: 2.24rem;
  height: 2.24rem;
}
.plan-your-journey-child8,
.plan-your-journey-child9 {
  top: 134.94rem;
}
.plan-your-journey-child9 {
  top: 158.94rem;
}
.onwards,
.onwards1,
.onwards2 {
  position: absolute;
  top: 118.31rem;
  left: 31.38rem;
  font-size: 0.46rem;
  color: var(--color-dimgray-100);
}
.onwards1,
.onwards2 {
  left: 48.31rem;
}
.onwards2 {
  top: 118.25rem;
  left: 65.13rem;
}
.plan-your-journey-child10 {
  position: absolute;
  top: 150.56rem;
  left: 27.22rem;
  border-radius: 10.15px;
  border: 0.8px solid var(--color-black);
  box-sizing: border-box;
  width: 14.74rem;
  height: 19.5rem;
}
.rectangle-icon {
  position: absolute;
  top: 151.57rem;
  left: 28.17rem;
  border-radius: 6.76px;
  width: 12.95rem;
  height: 10.31rem;
  object-fit: cover;
}
.renaissance {
  top: 162.73rem;
  left: 28.17rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.b1,
.left-bank-aleo,
.renaissance,
.reviews,
.see-details {
  position: absolute;
  color: var(--color-dimgray-100);
}
.see-details {
  top: 166.21rem;
  left: 36.32rem;
  font-size: 0.68rem;
  text-decoration: underline;
}
.b1,
.left-bank-aleo,
.reviews {
  top: 164.89rem;
  left: 30.57rem;
  font-size: 0.46rem;
}
.b1,
.left-bank-aleo {
  top: 165.88rem;
  left: 28.24rem;
  font-size: 0.98rem;
}
.left-bank-aleo {
  top: 168.27rem;
  left: 28.92rem;
  font-size: 0.61rem;
  font-weight: 500;
  color: var(--color-darkgray-200);
}
.vector-icon3,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 0.21%;
  width: 0.57%;
  top: 56.76%;
  right: 68.06%;
  bottom: 43.03%;
  left: 31.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  height: 0.23%;
  width: 0.8%;
  top: 55.5%;
  right: 67.88%;
  bottom: 44.27%;
  left: 31.32%;
}
.vector-icon5,
.vector-icon6 {
  right: 67.08%;
  left: 32.12%;
}
.vector-icon6 {
  right: 66.28%;
  left: 32.92%;
}
.frame-child,
.frame-item {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 0.56rem;
  height: 0.5rem;
  flex-shrink: 0;
}
.frame-item {
  margin-top: -0.44rem;
}
.rectangle-parent {
  position: absolute;
  top: 112.94rem;
  left: 39.88rem;
  width: 0.63rem;
  height: 0.56rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-child1,
.frame-inner {
  position: relative;
  border-radius: var(--br-11xs-7);
  background-color: var(--color-white);
  border: 0.4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.96rem;
  height: 0.85rem;
  flex-shrink: 0;
}
.frame-child1 {
  margin-top: -0.69rem;
}
.frame-div,
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 75.61rem;
  left: 76.56rem;
  width: 1.06rem;
  height: 0.96rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 0.11rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-div,
.rectangle-container {
  top: 86.88rem;
  left: 76.81rem;
}
.frame-div {
  left: 59.56rem;
}
.rectangle-parent1,
.rectangle-parent2,
.rectangle-parent3,
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  top: 136.88rem;
  left: 39.75rem;
  width: 0.63rem;
  height: 0.56rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangle-parent2,
.rectangle-parent3,
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  top: 160.88rem;
}
.rectangle-parent3,
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  top: 112.94rem;
  left: 56.81rem;
}
.rectangle-parent4,
.rectangle-parent5,
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  top: 136.88rem;
  left: 56.69rem;
}
.rectangle-parent5,
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  top: 160.88rem;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  top: 112.94rem;
  left: 73.75rem;
}
.rectangle-parent7,
.rectangle-parent8 {
  top: 136.88rem;
  left: 73.63rem;
}
.rectangle-parent8 {
  top: 160.88rem;
}
.plan-your-journey-child11,
.plan-your-journey-child12,
.plan-your-journey-child13,
.plan-your-journey-child14 {
  position: absolute;
  top: 182.19rem;
  left: 15.88rem;
  border-radius: var(--br-xs);
  width: 12.44rem;
  height: 11.38rem;
  object-fit: cover;
}
.plan-your-journey-child12,
.plan-your-journey-child13,
.plan-your-journey-child14 {
  left: 31.13rem;
}
.plan-your-journey-child13,
.plan-your-journey-child14 {
  left: 46.38rem;
}
.plan-your-journey-child14 {
  left: 61.63rem;
}
.enjoy-birds-eye-view-while,
.explore-the-famous,
.river-rafting-on,
.visit-the-hadimba {
  position: absolute;
  font-size: 0.9rem;
  font-weight: 800;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.river-rafting-on {
  top: 189.94rem;
  left: 18.13rem;
  width: 7.94rem;
  height: 3.63rem;
}
.enjoy-birds-eye-view-while,
.explore-the-famous,
.visit-the-hadimba {
  top: 189.13rem;
  left: 48.75rem;
  width: 7.75rem;
}
.enjoy-birds-eye-view-while,
.explore-the-famous {
  top: 189.06rem;
  left: 32.75rem;
  width: 9.25rem;
}
.explore-the-famous {
  left: 64.25rem;
  width: 7.25rem;
}
.vector-icon7 {
  position: absolute;
  height: 11.54%;
  width: 3.36%;
  top: 8.65%;
  right: 3.92%;
  bottom: 79.81%;
  left: 92.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.departure {
  top: 0.56rem;
  left: 0.75rem;
  font-weight: 300;
}
.b2,
.b3,
.departure,
.return {
  position: absolute;
}
.return {
  top: 0.56rem;
  left: 12.31rem;
  font-weight: 300;
}
.b2,
.b3 {
  top: 2.38rem;
  left: 0.75rem;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-200);
}
.b3 {
  left: 12.31rem;
}
.vector-icon8 {
  position: absolute;
  height: 11.54%;
  width: 3.36%;
  top: 8.65%;
  right: 55.74%;
  bottom: 79.81%;
  left: 40.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-div {
  position: absolute;
  top: 1.99rem;
  left: 11.18rem;
  border-right: 0.3px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 0.02rem;
  height: 3.45rem;
}
.departure-parent,
.vector-parent {
  position: absolute;
  width: 22.31rem;
  height: 6.5rem;
}
.departure-parent {
  top: 0;
  left: 0;
  border-radius: 5.19px;
  background-color: var(--color-lavenderblush);
}
.vector-parent {
  top: 30.75rem;
  left: 35.13rem;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
}
.need-help {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 4.21rem;
  height: 0.72rem;
  flex-shrink: 0;
}
.need-help-wrapper {
  border-radius: 8.61px;
  background-color: var(--color-white);
  box-shadow: 5.73913049697876px 5.73913049697876px 18.65px rgba(0, 0, 0, 0.1)
      inset,
    5.73913049697876px 5.73913049697876px 43.04px rgba(0, 0, 0, 0.19);
  width: 5.29rem;
  height: 1.79rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0.45rem;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-child22 {
  position: relative;
  width: 9.08rem;
  height: 9.51rem;
  flex-shrink: 0;
}
.frame-parent {
  position: absolute;
  top: 43.38rem;
  left: 76.88rem;
  width: 10.49rem;
  height: 4.13rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.06rem;
  font-size: 0.81rem;
  color: #6b6b6b;
  font-family: var(--font-bahnschrift);
}
.plan-your-journey {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 296.69rem;
  flex-shrink: 0;
  overflow: hidden;
}
.plan-your-journey-parent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 0.84rem;
  color: var(--color-dimgray-300);
  font-family: var(--font-mulish);
}
