.frame-child23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5.19px;
  background-color: var(--color-lavenderblush);
  width: 19.06rem;
  height: 6.5rem;
}
.from {
  top: 0.56rem;
  left: 0.91rem;
  font-weight: 300;
}
.from,
.new-delhi,
.to {
  position: absolute;
}
.new-delhi {
  top: 2.38rem;
  left: 0.88rem;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-200);
}
.to {
  top: 0.56rem;
  left: 12.44rem;
  font-weight: 300;
}
.vector-icon12 {
  position: relative;
  width: 0.68rem;
  height: 0.68rem;
  flex-shrink: 0;
}
.current-location {
  position: relative;
  text-decoration: underline;
  font-weight: 500;
}
.vector-group {
  position: absolute;
  top: 6.63rem;
  left: 0;
  width: 5.4rem;
  height: 0.75rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--font-size-3xs-6);
  color: var(--color-royalblue-100);
}
.manali1 {
  position: absolute;
  top: 2.25rem;
  left: 12.44rem;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-200);
}
.frame-child24 {
  position: absolute;
  top: 1.38rem;
  left: 9.01rem;
  width: 4.6rem;
  height: 4.6rem;
}
.rectangle-parent9 {
  position: absolute;
  top: 30.75rem;
  left: 13.63rem;
  width: 19.06rem;
  height: 7.38rem;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-mulish);
}
