@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahnschrift:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-mulish: Mulish;
  --font-bahnschrift: Bahnschrift;
  --font-inter: Inter;
  --font-hind: Hind;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-base-5: 1.03rem;
  --font-size-xl: 1.25rem;
  --font-size-4xl: 1.44rem;
  --font-size-sm: 0.88rem;
  --font-size-mini-4: 0.9rem;
  --font-size-3xs-8: 0.61rem;
  --font-size-2xs-9: 0.68rem;
  --font-size-base-7: 1.04rem;
  --font-size-5xs-4: 0.46rem;
  --font-size-3xs-7: 0.61rem;
  --font-size-4xs-7: 0.54rem;
  --font-size-sm-2: 0.83rem;
  --font-size-sm-9: 0.87rem;
  --font-size-sm-4: 0.84rem;
  --font-size-7xl: 1.63rem;
  --font-size-3xs-6: 0.6rem;
  --font-size-2xl: 1.31rem;
  --font-size-mini: 0.94rem;
  --font-size-10xl: 1.81rem;
  --font-size-6xl: 1.56rem;
  --font-size-5xl: 1.5rem;
  --font-size-mini-9: 0.93rem;
  --font-size-xs: 0.75rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #808080;
  --color-gray-200: #777;
  --color-gray-300: #2c2c2c;
  --color-gray-400: #252525;
  --black: #25313c;
  --color-darkslategray-100: rgba(37, 49, 60, 0.95);
  --color-darkslategray-200: rgba(37, 49, 60, 0.49);
  --color-gainsboro-100: rgba(217, 217, 217, 0.5);
  --color-gainsboro-200: rgba(217, 217, 217, 0.47);
  --color-dimgray-100: #726e6e;
  --color-dimgray-200: #686868;
  --color-dimgray-300: #555;
  --color-lavenderblush: #f9e8e8;
  --color-black: #000;
  --color-darkgray-100: #a8a8a8;
  --color-darkgray-200: #9e9e9e;
  --color-darkgray-300: #969494;
  --color-royalblue-100: #2e75ff;
  --color-tomato: #f35757;

  /* Gaps */
  --gap-43xl: 3.88rem;
  --gap-4xs: 0.56rem;
  --gap-10xs: 0.19rem;

  /* Paddings */
  --padding-5xs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-12xs: 0.06rem;
  --padding-11xs-7: 0.11rem;
  --padding-0: 0rem;

  /* border radiuses */
  --br-9xs: 4px;
  --br-7xs-2: 5.2px;
  --br-xs: 12px;
  --br-12xs: 1px;
  --br-11xs-7: 1.7px;
  --br-2xs-2: 10.2px;
  --br-6xs-8: 6.8px;
  --br-6xs-4: 6.4px;
  --br-xs-5: 11.5px;
}
